
body{
	background: 230;230,230
	}
	#casa{
		width:100%;

	}
	.principal{background: 230;230,230
padding: 30px;
	}
	.titulo-principal{
		padding-left: 20px;
	}
.titulo-centralizado{
	text-align: center;
	color: black;border: 5px solid black;
	margin: 0px,padding 10px;
}
p { text-align: justify; }
		

	
	.itens 
		font-style: italic;
	
	.andares
		background:#FFFFF ;
		padding: 20px;
	}
	h2{
		text-align: center;

	}
	ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}

    .imagembeneficios {
	width: 50%;
}