
body{
	background: 230;230,230
	}
	#casa{
		width:100%;
	}
h1{
	text-align: center;
	color: black;border: 5px solid black;
	margin: 0px,padding 10px;
}
p { text-align: justify; }
		
h2{ text-align: center; color: black;  }
em strong {
	
	.itens 
		font-style: italic;
	
	.andares
		background:#FFFFF ;
	}
	h2{
		text-align: center;

	}
	ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}

.imagembeneficios {
	width: 50%;
}